<div class="container">
  <div class="row space-top">
    <div class="col-md-12">
      <h1>Profile Page</h1>
      <p>Listing your furniture.</p>
    </div>
  </div>

  <div class="row space-top">
    <!-- async -->
    <div
      *ngFor="let furniture of furnitures$ | async | paginate: { 
        id: 'myFurniture', 
        itemsPerPage: pageSize, 
        currentPage: currentPage 
      }"
      class="col-md-4">
      <div class="card text-white bg-primary">
        <div class="card-body">
          <blockquote class="card-blockquote">
            <img
              src="{{furniture.image}}"
              alt="{{furniture.model}}">
            <p>{{furniture.description}}</p>
            <div class="pull-right">
              <a
                routerLink="/furniture/details/{{furniture.id}}"
                class="btn btn-info">
                Details
              </a>
              <a
                (click)="deleteItem(furniture.id)"
                class="btn btn-danger">
                Delete Item
              </a>
            </div>
          </blockquote>
        </div>
      </div>
    </div>
  </div>

  <!-- pagination controls -->
  <pagination-controls
    id="myFurniture"
    (pageChange)="changePage($event)"
    maxSize="9"
    directionLink="true"
    autoHide="true"
    nextLabel="Next"
    previousLabel="Previous"
    screenReaderPagnationLabel="Pagination"
    screenReaderPageLabel="page"
    screenReaderCurrentLabel="You are on page">
  </pagination-controls>

</div>
