<div class="container">
  <h1>
    Courses
    <button
      *ngIf="authService.isAdmin()"
      class="btn btn-outline-success btn-lg"
      routerLink="/courses/create">
      Create course
    </button>
  </h1>

  <div
    *ngIf="courses$ | async as courses"
    class="row courses-container">
    <div
      *ngFor="let course of courses"
      class="card border-info mb-3 course">
      <div class="card-header">Start Date: {{course.startDate}}</div>
      <div class="card-body">
        <h4 class="card-title">{{course.name}}</h4>
        <button
          class="btn btn-outline-info btn-block"
          routerLink="/courses/details/{{course.id}}">
          Details
        </button>
      </div>
    </div>
  </div>
</div>
