<div class="container">
  <h1>
    Courses
    <button
      *ngIf="authService.isAdmin()"
      class="btn btn-outline-info btn-lg"
      routerLink="/courses/create">
      Create course
    </button>
  </h1>

  <div
    *ngIf="courses$ | async as courses"
    class="row courses-container">
    <div
      *ngFor="let course of courses | paginate: {
        id: 'allCourses',
        itemsPerPage: pageSize,
        currentPage: currentPage
      }"
      class="card border-info mb-3 course">
      <div class="card-header">Start Date: {{course.startDate}}</div>
      <div class="card-body">
        <h4 class="card-title">{{course.name}}</h4>
        <button
          class="btn btn-outline-info btn-block"
          routerLink="/courses/details/{{course.id}}">
          Details
        </button>
      </div>
    </div>
  </div>

  <!-- pagination controls -->
  <pagination-controls
    class="pagination"
    id="allCourses"
    (pageChange)="changePage($event)"
    maxSize="9"
    directionLink="true"
    autoHide="true"
    nextLabel="Next"
    previousLabel="Previous"
    screenReaderPagnationLabel="Pagination"
    screenReaderPageLabel="page"
    screenReaderCurrentLabel="You are on page">
  </pagination-controls>
</div>
