<section>
  <h3>
    Feedbacks:
    <ng-container *ngIf="feedbacks && feedbacks.length > 0; else noFeedbacksTemplate">
      <ul>
        <li *ngFor="let feedback of feedbacks">
          <a routerLink="/courses/details/{{feedback.courseId}}">{{feedback.title | titlecase}}</a>
          <span>: {{feedback.description}}</span>

          <!-- Delete Feedback button -->
          <button
            class="btn btn-outline-danger btn-delete-feedback"
            (click)="deleteFeedback(feedback)">
            Delete feedback
          </button>

        </li>
      </ul>
    </ng-container>
    <ng-template #noFeedbacksTemplate>no feedbacks</ng-template>
  </h3>
</section>
