<div class="jumbotron">
  <h1 class="display-3">Welcome to Student System!</h1>
  <hr class="my-4">

  <!-- Anomymous -->
  <p class="lead">We provide top-level tech trainings</p>
  <p class="lead">
    and invite you to explore out most recent
    <a
      class="btn btn-primary btn-lg"
      routerLink="/courses/all"
      role="button">
      Courses
    </a>
  </p>

  <!-- Login -->
  <p class="lead">
    To explore further details please
    <a
      routerLink="/auth/register"
      class="btn-link text-info">
      create an account
    </a>
    and
    <a
      routerLink="/auth/login"
      class="btn-link text-info">
      login here
    </a>
  </p>

</div>
