<section
  class="container"
  *ngIf="course">

  <!-- Course Enrollement Buttons -->
  <section>
    <ng-container *ngIf="isEnrolled$ | async; else notEnrolledTemplate">
      <!-- Cancel Enrollment Button -->
      <app-course-enroll-cancel
        [courseId]="course.id"
        [hasSpecialStyle]="true"
        (click)="updateStatus()"></app-course-enroll-cancel>
    </ng-container>
    <ng-template #notEnrolledTemplate>
      <!-- Enroll Button -->
      <app-course-enroll
        [courseId]="course.id"
        [hasSpecialStyle]="true"
        (click)="updateStatus()"></app-course-enroll>
    </ng-template>
  </section>

  <!-- Course Info -->
  <app-course-info-listing
    [course]="course"
    [trainers]="trainers"
    [isEnrolled$]="isEnrolled$"></app-course-info-listing>

  <!-- Course Feedbacks -->
  <section id="course-feedbacks">
    <h3>
      Feedbacks
      <!-- Add Feedback Button -->
      <app-feedback-add-button
        [courseId]="course.id"
        [isEnrolled$]="isEnrolled$"></app-feedback-add-button>
    </h3>
    <!-- Feedbacks -->
    <app-course-feedbacks-all [feedbacks]="feedbacks"></app-course-feedbacks-all>
  </section>

  <hr>

  <!-- Admins Only -->
  <!-- Course Administration -->
  <app-course-administration [courseId]="course.id"></app-course-administration>
</section>
