<section>
  <h3>
    {{title}}
    <ng-container *ngIf="courses && courses.length > 0; else noCoursesTemplate">
      <ul>
        <li *ngFor="let course of courses">
          <a routerLink="/courses/details/{{course.id}}">{{course.name | titlecase}}</a>

          <!-- Course Enrollment Cancel Button, Enrolled Students Only -->
          <app-course-enroll-cancel
            *ngIf="isEnrolled"
            class="button"
            [courseId]="course.id"
            (click)="removeFromCourses(course.id)"></app-course-enroll-cancel>

          <!-- Add Feedback, Enrolled Students Only -->
          <app-feedback-add
            *ngIf="isEnrolled"
            [courseId]="course.id"></app-feedback-add>

        </li>
      </ul>
    </ng-container>
    <ng-template #noCoursesTemplate>no courses</ng-template>
  </h3>
</section>
