<div class="row">
  <div class="col-xs-12">

    <!-- {{recipeEditModel | json}} -->
    <form
      *ngIf="recipeEditModel"
      #editRecipeForm="ngForm"
      (ngSubmit)="edit()">

      <div class="row">
        <div class="col-xs-12">
          <div class="form-group">
            <label for="name">Name</label>
            <input
              required
              type="text"
              id="name"
              name="name"
              [(ngModel)]="recipeEditModel.name"
              #name="ngModel"
              class="form-control">
          </div>
        </div>
      </div>

      <div class="row">
        <div class="col-xs-12">
          <div class="form-group">
            <label for="imagePath">Image URL</label>
            <input
              required
              type="text"
              id="imagePath"
              name="imagePath"
              [(ngModel)]="recipeEditModel.imagePath"
              #imagePath="ngModel"
              class="form-control">
          </div>
        </div>
      </div>

      <div class="row">
        <div class="col-xs-12">
          <img
            *ngIf="recipeEditModel.imagePath"
            src="{{recipeEditModel.imagePath}}"
            class="img-responsive">
        </div>
      </div>

      <div class="row">
        <div class="col-xs-12">
          <div class="form-group">
            <textarea
              required
              type="text"
              id="description"
              class="form-control"
              name="description"
              [(ngModel)]="recipeEditModel.description"
              #description="ngModel"
              rows="6"></textarea>
          </div>
        </div>
      </div>

      <button
        [disabled]="editRecipeForm.form.invalid"
        class="btn btn-primary"
        type="submit">
        Edit
      </button>
    </form>
  </div>
</div>
